# Godot 4
.godot/
*.translation
export_credentials.cfg
export_credentials.encryption_key
icon.svg.import
project.godot
# Godot 4+ generated import files
*.import

# OS
.DS_Store
Thumbs.db

# Scratch editor junk
*.tmp
